* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: bisque;
}

#wrapper {
  width: 420px;
}

h1 {
  font-size: 56px;
  text-align: center;
}

.selects {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

#submit {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 15px;
}
